@{
	ViewData["Title"] = "Ship Info";
}

<h2>Ship Info</h2>
<br />
<div class="btn-toolbar">
	<div class="btn-group">
        <button id="addshipinfo-btn" class="btn shadow" type="button">Add Ship Info</button>
        <button id="updateshipinfo-btn" class="btn shadow" type="button">Update Ship Info</button>
        <button id="archiveshipinfo-btn" class="btn shadow" type="button">Archive Ship Info</button>
	</div>
</div>
<div id="shipinfo-grid"></div>

@section Scripts {
    <script>
		var shipTypeNames = new Map();
		(function () {
            let $shipInfoGrid = $('#shipinfo-grid');

            const shipInfoDataSource = metrc.kendo.serverDataSource({
				url: '@Url.Action("Get", "ShipInfoApi")'
            });
            shipInfoDataSource.read();
			const shipTypeDataSource = metrc.kendo.serverDataSource({
				url: '@Url.Action("Get", "ShipTypeApi")'
            });
			shipTypeDataSource.read();

			shipTypeDataSource.fetch(() => {
				const view = shipTypeDataSource.view();
				shipTypeNames = new Map(view.map(x => [x.Id, x.Name]))
                $shipInfoGrid.kendoGrid({
                    dataSource: shipInfoDataSource,
                    selectable: true,
                    columns: [
                        {
                            title: 'Ship Info', field: 'Name'
                        },
                        {
                            title: 'Occupancy', field: 'Occupancy'
                        },
                        {
                            title: 'Status', field: 'Status'
                        },
                        {
                            title: 'Ship Type', template: '#= shipTypeNames.get(data.ShipTypeId) #'
                        }
                    ]
                });
			});

            $('#addshipinfo-btn').click(function() {
				metrc.kendo.modalWindow(
					'Add Ship Info',
					'@Url.Action("AddEdit", "ShipInfo")',
					{
						isModal: true
					},
					null,
					'@Url.Action("CreateShipInfo", "ShipInfoApi")',
					$shipInfoGrid,
					null,
					() => {
                        $('.shiptypedropdown').kendoDropDownList({
                            dataTextField: 'Name',
                            dataValueField: 'Id',
                            dataSource: shipTypeDataSource
                        });
                    }
				);
			});

            $('#updateshipinfo-btn').click(function () {
                let selectedId = $shipInfoGrid.metrcGridIds('Id');

				if (!selectedId || selectedId <= 0) {
					alert("Please select an item to update");
					return;
				}

				metrc.kendo.modalWindow(
					'Update Ship Info',
					'@Url.Action("AddEdit", "ShipInfo")',
					{
						isModal: true,
						id: selectedId
					},
					null,
					'@Url.Action("UpdateShipInfo", "ShipInfoApi")',
                    $shipInfoGrid,
                    null,
                    () => {
                        $('.shiptypedropdown').kendoDropDownList({
                            dataTextField: 'Name',
							dataValueField: 'Id',
                            dataSource: shipTypeDataSource
                        });
					}
				);
			});

            $('#archiveshipinfo-btn').click(function () {
                let selectedId = $shipInfoGrid.metrcGridIds('Id');

				if (!selectedId || selectedId <= 0) {
					alert("Please select an item to archive");
					return;
				}

				if (!confirm("Are you sure you want to remove this ship info?")) {
					return;
				}

				metrc.submitJson({
					url: '@Url.Action("ArchiveShipInfo", "ShipInfoApi")',
					data: { Id: selectedId[0] },
					success: function () {
						shipInfoDataSource.read();
					}
				});
			});
		})();
    </script>
}